* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    padding-left: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: center;
    background-color: #005747; 
    padding: 10px; 

}

nav {
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255); 
    padding: 5px 0; 
}


#nav-right{ display: flex;
    justify-content: flex-end;

}
#nav-left{ padding-left: 20px;
  
}

#nav-left a,
#nav-right a {
    color: white; 
    margin-right: 10px; 
    text-decoration: none; 
}
/* */


#loginForm { 
    flex-direction: column;
    align-items: center;
    height: 200px;
   width: 50%;
    background-color: ##005747;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

#accueil{
    background-color: #006A75; 
    width: 100%;
padding-top: 10px;
padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#loginRegister{
    background-color: #006A75; 
    text-decoration: none;
    flex-direction:column;
    align-items: center;
    display: flex;
   justify-content: center;  
}

input{margin-bottom: 10px;
}


button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #006A75;
}

.registerButton a{
    padding: 10px;
    color: white;
    text-decoration: none;
   
}

.registerButton {
    padding-bottom: 20px;
   
}

.loginPage{
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #006A75;
    display: flex;
    justify-content: center;
}

.registerPage{
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #006A75;
    display: flex;
    justify-content: center;
}

#registerForm { 
    flex-direction: column;
    align-items: center;
    height: 250px;
   width: 50%;
    background-color: #006A75;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: center;
}


.listTopicsPosts{
    display: flex;
  justify-content: center;
    padding-left: 10px;
    padding-top: 10px; 
    font-size: 10px;
    padding-bottom: 20px;
    background-color: #006A75;
}

.listTopicsPosts ul{
    width: 80%;
  

}

.listTopicsPosts a{
    font-size: 20px;
    padding-left: 10px;
    width: 100%;   
    color:rgb(3, 3, 3);
    text-decoration: none
}


.listTopicsPosts ul li{

    list-style-type: none;
    padding-left: 10px;
    padding-bottom:20px;
    padding-right: 20px;
    padding-top: 5px;
    font-size: 20px;
    margin-top: 5px;
    border:solid 1px rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
}

.listTopicsPosts ul li :hover{ 
    color: rgb(0, 0, 0);
    width: 100%;
}

.addTopicPost {
    font-size: 20px;
    padding-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #006A75;
}

.listTopicsPosts ul li :hover{ 
    color: rgb(0, 0, 0);
    width: 100%;
}

.edit { 
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #006A75;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: center;
}



.homeList{
    background-color: #006A75;
    display: flex;
 width: 100%;
}

.listCategory {
    padding-top: 20px;
    height: 432px;
    background-color: #006A75;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    width: 50%;

}
.listCategory ul li{
    
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background: #005747;
}
.listCategory a{
    color: white;
    
}
.listCategory ul {
    width: 80%;
    text-decoration: none

}
.homeList a{
    text-decoration: none;
}
.listCategory ul a:hover{ 
  color: red;
}

.lastTopic{
    background-color: ##005747;
  align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
 
}

.lastTopic a{
    color: rgb(255, 255, 255)
}

.lastTopic ul li{
    background: #006A75;
}
.lastTopic ul {
    list-style-type: none;
    padding-bottom: 20px;
    height: 100%;
    width: 80%;
}

.lastTopic ul li p{
color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px black;
    width: 100%;
    background: #005747;
}

.statistics{
    display: flex;
    background:  #005747; 
    flex-direction: column;
}
.statistics a{
    color: white;
    text-decoration: none;
}
.statistics a:hover{
    color: rgb(158, 15, 15);
    text-decoration: none;
}

.statistics tbody{
padding-bottom: 20px;
    align-items: center;
    flex-direction:column;
    display: flex;
    justify-content: center;


}

.statistics h1{
    padding-top: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.statistics tr {
    color: white;
    align-items: center;
    padding-left: 10px;
    background-color:#006A75;;
    flex-direction: column;
    display: flex;
    width: 20%;
    border: solid 1px black;
    color: rgb(255, 255, 255);
    justify-content: center; 

}

.loginOrRegister {
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #1006A75;
}

.loginOrRegister a{
    text-decoration: none;

    color: red;
}

.detailProfil{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

#profil {
     background-color: #006A75;
    padding-top: 20px;
    padding-bottom:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#profil p{
    color: white;
}

.detail{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:  #006A75;
}

.detail p{
    font-size: 20px;
    color: white;
}


.footer{ 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(5, 22, 19); 
}
.footer p{ 
    color: white;
    
}
.footer a{ text-decoration: none;
    color: white;
}

.listPostByUser{
    width: 100%;
    background-color: #006A75;
}
.listPostByUser ul li{
    border: solid 1px black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.listPostByUser p {
    padding-left: 20px;
}


#mainpage {
    background-color:  #006A75; 
    min-height: calc(100vh - 30px);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listUser a{
    color: white;
    text-decoration: none;
}

.listUser a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.listUser {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.listUser p{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #006A75;
}
